node_modules/
build/
src/server/installService.coffee
src/server/installServiceStg.coffee
src/tests/cucumber/node_modules
src/packages/google-client
src/config.push.json
src/settings.json
src/npm-debug.log
src/.meteor
npm-debug.log
