<template name="allTripsPanel" >
  <div class="accordion-group">
    <div class="panel-toggle" data-toggle="collapse"
        data-parent="#accordion2"  href="#activeTripPanel">
      More trips
      <span class="badge badge-inverse" data-toggle="tooltip" title="Active trips">{{activeTrips.length}}</span>
      <i class="icon-chevron-down pull-right"></i>
    </div>
    <div id="activeTripPanel" class="accordion-body collapse">
      <div class="btn-group" data-toggle="buttons-radio">
	      <button type="button" class="toRadius btn active" value="750">750m</button>
	      <button type="button" class="toRadius btn" value="3000" >3km</button>
	      <button type="button" class="toRadius btn" value="10000" >10km</button>
      </div>
      <div class="">
				{{#each activeTrips}}
					{{> activeLongTrip}}
				{{/each}}
      </div>
    </div>
  </div>
</template>

<template name="activeLongTrip">
<div class="accordion-group" style="background-color: white;">
  <div class="accordion-heading">
    <div class="accordion-toggle">
      <span>
        <a class="pull-left" href="#">
          <img class="media-object" src="{{userPictureUrl owner}}" height="50px"  width="50px">
          {{#with ofUserId owner}}{{displayName this}}{{/with}}
        </a>
      </span>
      <span class="selectTrip" style="display:inline-block; padding-left: 10px">
        {{#if fromCity}}
        <div>
          <strong>From:</strong>
          {{#if fromStreet}}
            {{fromStreet}} {{fromHouse}}
            {{#if equal obj=fromCity value=toCity}}
            {{else}}, {{fromCity}}
            {{/if}}
          {{else}}
            {{fromCity}}
          {{/if}}
        </div>
        {{/if}}
        {{#if toCity}}
        <div>
          <strong>To:</strong>
          {{#if toStreet}}
	          {{toStreet}} {{toHouse}}
	          {{#if equal obj=fromCity value=toCity}}
	          {{else}}, {{toCity}}
	          {{/if}}
          {{else}}
            {{toCity}}
          {{/if}}
        </div>
        {{/if}}
      </span>
      <span style="display:inline-block; padding-left: 10px">
        <div>
          {{formatDate tripTime '{yyyy}-{MM}-{dd}'}}
        </div>
        <div>
          {{formatDate tripTime '{hh}:{mm}'}}
        </div>
      </span>
      <span style="display:inline-block; padding-left: 10px; vertical-align:top">
        {{#if isRequested}}
          {{#if currentUser}}
          <span class="label label-success">Requested</span>
          {{/if}}
        {{else}}
          <button type="button" class="askToJoin btn">
            {{#if equal obj=role value='passenger'}}
              <img src="/img/icon-passenger.png" >
              <span>Take</span>
            {{else}}
              <img src="/img/icon-driver.png" >
              <span>Ask</span>
            {{/if}}
          </button>
        {{/if}}
      </span>
      <i class="icon-chevron-down pull-right panel-toggle" data-toggle="collapse" href="#activeTripColalape-{{_id}}"></i>
    </div>
  </div>

  <div id="activeTripColalape-{{_id}}" class="accordion-body collapse">
    <div class="accordion-inner">
      {{message}}
    </div>
  </div>
</div>
</template>
