<template name="MapFavoriteTripsPanel">
  {{#if hasFavoriteTrips}}
  <div class="accordion-group" style="margin-bottom: 10px">
    <div class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" 
          href="#favoriteTripsPanel" style="" >
         <strong>{{t "favorite_panel_title"}}</strong>
    </div>
    <div id="favoriteTripsPanel" class="accordion-body collapse in">
			{{#each favoriteTrips}}
			  <div>
	        <a class="goFavorite btn btn-link" >
	          {{toStreet}} {{toHouse}}
	          {{#compare equal obj=fromCity value=toCity}}
	          {{else}}, {{toCity}}
	          {{/compare}}            
	        </a>
	      </div>
			{{/each}}
    </div>
  </div>
  {{/if}}			
</template>
