<template name="notificationsPanel">
  {{#if currentUser}}
  <div class="accordion-group">
    <div class="panel-toggle" data-toggle="collapse" data-parent="#accordion2"
          href="#myTripsPanel">
      <span class="badge badge-info" data-toggle="tooltip" title="My trips">{{myTrips.length}}</span>
      <i class="icon-chevron-down pull-right"></i>
    </div>
    <div id="myTripsPanel" class="accordion-body collapse">
        {{#each myTrips}}
          {{> myMapTrip}}
        {{/each}}
    </div>
  </div>
 {{/if}}
</template>

<template name="myMapTrip">
<div class="accordion-group" style="background-color: white;">
  <div class="accordion-heading">
    <div class="trip-toggle {{#if equal obj=_id value=selectedTrip}}trip-selected{{/if}}">
      {{#if equal obj=currentUser._id value=owner}}
      {{else}}
      <a class="pull-left" href="#">
        <img class="media-object" src="{{userPictureUrl owner}}" height="50px"  width="50px">
      </a>
      {{/if}}
      <span class="selectTrip" style="display:inline-block; padding-left: 10px">
        <div>
          <strong>From: </strong>{{fromStreet}} {{fromHouse}}
          {{#if equal obj=fromCity value=toCity}}
          {{else}}, {{fromCity}}
          {{/if}}
        </div>
        <div>
          <strong>To: </strong>{{toStreet}} {{toHouse}}
          {{#if equal obj=fromCity value=toCity}}
          {{else}}, {{toCity}}
          {{/if}}
        </div>
      </span>
      <span style="display:inline-block; padding-left: 10px">
        <div>
          {{formatDate tripTime '{yyyy}-{MM}-{dd}'}}
        </div>
        <div>
          {{formatDate tripTime '{hh}:{mm}'}}
        </div>
      </span>
      <span style="display:inline-block; padding-left: 10px; vertical-align:top">
        <a href="{{pathFor 'TripView'}}" >link</a>
        {{#if equal obj=currentUser._id value=owner}}
        <button type="button" class="removeTrip btn"><i class="icon-remove"></i></button>
        {{/if}}
      </span>
      <i class="icon-chevron-down pull-right" data-toggle="collapse" data-parent="#accordion2" href="#myTripColalape-{{_id}}"></i>
    </div>
  </div>
  <div id="myTripColalape-{{_id}}" class="accordion-body collapse">
    <div class="accordion-inner">
      {{#if equal obj=currentUser._id value=owner}}
        <form id="invite-form-{{_id}}" class="form-inline">
          <div class="control-group">
            <input  id="inviteField-{{_id}}" type="text" class="input-small required email" placeholder="email" size="25"  >
            <button type="button" class="invite btn" >Invite</button>
          </div>
        </form>
        <h4>Invitees:</h4>
      {{/if}}
      {{#each ownTripRequests}}
      <div>
        {{#if proposed}}
          {{userEmail}}
          {{#if response}}
            {{#if equal obj=response value="accept"}}
              <i class="icon-ok"></i> accepted
            {{else}}
              <i class="icon-remove"></i> rejected
            {{/if}}
          {{else}}
            no response
          {{/if}}
          <a class="btn btn-mini removeInvitee" href="#"><i class="icon-trash"></i></a>
        {{else}}
            {{userText}} is asking to join
            <div class="btn-group">
              {{#if equal obj=response value="accept"}}
                <i class="icon-ok"></i>
              {{else}}
                <a class="btn btn-mini acceptRequest" href="#"><i class="icon-ok"></i></a>
              {{/if}}

              {{#if equal obj=response value="reject"}}
                <i class="icon-remove"></i>
              {{else}}
                <a class="btn btn-mini rejectRequest" href="#"><i class="icon-remove"></i></a>
              {{/if}}
            </div>
        {{/if}}
        </div>
      {{/each}}
      {{#each ownRequests}}
        <div>
          {{userText}} waiting for response
          <a class="btn btn-mini cancelRequest" href="#"><i class="icon-trash"></i></a>
        </div>
      {{/each}}
    </div>
  </div>
</div>
</template>
