.trip-selected {
  background-color: #ECECCC;
}

// Desktops
@media (min-width: 768px) {

  .navbar {
    margin-bottom: 0px !important;
  }

  #left-panel {
    top:75px;
    left:100px;
    position:absolute;
    width:330px;
    z-index:3;
  }

  #right-panel {
    top:75px;
    right: 10px;
    position:absolute;
    width:350px;
    z-index:3;
  }

}
