<template name="Train">

<div class="row-fluid">
	<div class="span8">
		<table class="table">
			<tr>
				<th>Input</th>
				<th>Guess</th>
				<th>Result</th>
				<th>Action</th>
			</tr>
			{{#each rows}}
			<tr>
				<td>{{message}}<br /> <strong>Words:</strong> 
					{{#each guesses}}
					{{word}} <strong>{{guess.n}}</strong> 
					{{/each}}
				</td>
				<td>
					{{#each results}} 
						{{value}}
					{{/each}}
				</td>
				<td>{{#with  possibilities}} {{> feildListedit }} {{/with}}</td>
				<td><a href="#" class="btn learn">Learn</a></td>
			</tr>
			{{/each}}
		</table>
	</div>
	<div class="span4">
		Perceptrons:<br/>
		{{#each perceptron}}
			{{meaning}}:{{value}}:
			{{#each samples}}
				{{word}}/{{w}},
			{{/each}}
		<br/>
		{{/each}} 
	</div>
</div>

</template>